<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <data>
    <!--MENU PARENT-->
    <menuitem
        id="menu_enduser_top"
        name="End Users"
        sequence="2"/>
    <!--END MENU PARENT-->

    <!--MENU CHILD-->
    <menuitem
        id="menu_division_top_left"
        name="Division"
        parent="menu_enduser_top"
        sequence="1"
        action="action_division"/>
    <menuitem
        id="menu_section_top_left"
        name="Section"
        parent="menu_enduser_top"
        sequence="2"
        action="action_section"/>
    <menuitem
        id="menu_region_top_left"
        name="Region"
        parent="menu_enduser_top"
        sequence="3"
        action="action_region"/>
    <!--END MENU CHILD-->
    </data>
</odoo>